* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #919191;
  background-color: #232323;
}
.wrapper {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
.row1 {
  color: #c0bab6;
  background: #333333;
}

#header {
  margin: 0 auto;
  width: 960px;
  padding: 20px 0;
  overflow: auto;
}
#header #hgroup {
  float: left;
  margin: 0 0 20px 0;
}
#header #hgroup h1 {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
#hgroup h1 a {
  color: #c0bab6;
  background-color: #333333;
  text-decoration: none;
}

#hgroup h2{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}
#header nav{
    display: block;
    float: right;
    margin: 10px 0 0 0;
    padding: 20px 0;
    color: #C0BAB6;
    background: #232323;
}
#header nav ul{
    padding: 0 20px;
    list-style: none;
}
#header nav ul li{
    display: inline;
    text-transform: uppercase;
    margin-right: 25px;
}
#header .last{
    margin-right: 0;
}
#header ul li a{
    color: #C0BAB6;
    background: #232323;
    text-decoration: none;
}
.row2 {
    color: #979797;
    background-color: #FFFFFF;
}
#container{
    width: 960px;
    margin: 0 auto;
    padding: 30px 0;
}
#container #slider {
    margin: 0 0 30px 0;
}
#container #homepage{
    display: block;
    width: 100%;
    line-height: 1.8em;
}
#homepage #services .one_third{
    width: 300px;
    float: left;
    margin: 0 30px 0 0;
}
#homepage #services .one_third img{
    margin: 0 0 15px 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}
figcaption h2 {
    font-size: 14px;
    font-weight: bold;
}
#services{
    overflow: auto;
}
#services .last {
    margin-right: 0;
}